# Data Preprocessing

The goal of this lab is to introduce you to data preprocessing techniques in order to make your data suitable for applying a learning algorithm.

## 1. Handling Missing Values

A common (and very unfortunate) data property is the ocurrence of missing and erroneous values in multiple features in datasets. For this exercise we will be using a data set about abalone snails.
The data set is contained in the Zip file you downloaded from Moodle.

To determine the age of a abalone snail you have to kill the snail and count the annual
rings. You are told to estimate the age of a snail on the basis of the following attributes:
1. type: male (0), female (1) and infant (2)
2. length in mm
3. width in mm
4. height in mm
5. total weight in grams
6. weight of the meat in grams
7. drained weight in grams
8. weight of the shell in grams
9. number of annual rings (number of rings +1, 5 yields age)

However, the data is incomplete. Missing values are marked with −1.

In [478]:
import pandas as pd
# load data 
df = pd.read_csv("http://www.cs.uni-potsdam.de/ml/teaching/ss15/ida/uebung02/abalone.csv")
df.columns=['type','length','width','height','total_weight','meat_weight','drained_weight','shell_weight','num_rings']
df.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,-1
1,1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,2,-1.000,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,2,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

### Exercise 1.1

Compute the mean of of each numeric column and the counts of each categorical column, excluding the missing values.

In [479]:
df_filtered = df[(df >= 0).all(axis=1)]
df_filtered.mean()

type              0.955671
length            0.523445
width             0.407424
height            0.139467
total_weight      0.826354
meat_weight       0.358718
drained_weight    0.179689
shell_weight      0.238330
num_rings         9.925099
dtype: float64

### Exercise 1.2

Compute the median of each numeric column,  excluding the missing values.

In [480]:
df_filtered.median()

type              1.0000
length            0.5450
width             0.4250
height            0.1400
total_weight      0.8025
meat_weight       0.3385
drained_weight    0.1710
shell_weight      0.2350
num_rings         9.0000
dtype: float64

### Exercise 1.3

Handle the missing values in a way that you find suitable. Argue your choices.

In [481]:
means = df_filtered.mean()

def apply_mean(row):
    for idx, val in row.iteritems():
        if(str(idx) != 'type' and val < 0):
            row[idx] = means[idx]

    return row
df.apply(
    apply_mean,
    axis=1
)

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0.0,0.350000,0.265,0.090,0.225500,0.0995,0.0485,0.0700,9.925099
1,1.0,0.530000,0.420,0.135,0.677000,0.2565,0.1415,0.2100,9.000000
2,0.0,0.440000,0.365,0.125,0.516000,0.2155,0.1140,0.1550,10.000000
3,2.0,0.523445,0.255,0.080,0.205000,0.0895,0.0395,0.0550,7.000000
4,2.0,0.425000,0.300,0.095,0.351500,0.1410,0.0775,0.1200,8.000000
...,...,...,...,...,...,...,...,...,...
4171,1.0,0.565000,0.450,0.165,0.887000,0.3700,0.2390,0.2490,11.000000
4172,0.0,0.590000,0.440,0.135,0.966000,0.4390,0.2145,0.2605,10.000000
4173,0.0,0.600000,0.475,0.205,1.176000,0.5255,0.2875,0.3080,9.000000
4174,1.0,0.625000,0.485,0.150,0.826354,0.5310,0.2610,0.2960,10.000000
4175,0.0,0.710000,0.555,0.195,1.948500,0.9455,0.3765,0.4950,12.000000

### Exercise 1.4

Perform Z-score normalization on every column (except the type of course!)

In [482]:
zscore_df = (df - df.mean())/df.std()

zscore_df['type'] = df['type']
zscore_df

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0,-0.451473,-0.391655,-0.079741,-0.990006,-0.686869,-0.465320,-0.587534,-2.965209
1,1,0.181195,0.208519,0.147786,-0.187401,-0.194627,-0.036612,0.007002,-0.184327
2,0,-0.135139,-0.004446,0.097225,-0.473601,-0.323174,-0.163380,-0.226566,0.093762
3,2,-5.196486,-0.430376,-0.130303,-1.026448,-0.718223,-0.506807,-0.651234,-0.740503
4,2,-0.187861,-0.256132,-0.054460,-0.766023,-0.556754,-0.331637,-0.375200,-0.462415
...,...,...,...,...,...,...,...,...,...
4171,1,0.304214,0.324682,0.299471,0.185904,0.161230,0.412839,0.172623,0.371850
4172,0,0.392085,0.285961,0.147786,0.326338,0.377566,0.299900,0.221460,0.093762
4173,0,0.427233,0.421484,0.501717,0.699642,0.648770,0.636413,0.423177,-0.184327
4174,1,0.515104,0.460205,0.223629,-3.168507,0.666014,0.514254,0.372217,0.093762
4175,0,0.813864,0.731252,0.451156,2.072871,1.965597,1.046681,1.217308,0.649938

## 2. Preprocessing text (Optional)

One possible way to transform text documents into vectors of numeric attributes is to use the TF-IDF representation. We will experiment with this representation using the 20 Newsgroup data set. The data set contains postings on 20 different topics. The classification problem is to decide which of the topics a posting falls into. Here, we will only consider postings about medicine and space.

In [483]:
from sklearn.datasets import fetch_20newsgroups


categories = ['sci.med', 'sci.space']
raw_data = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)
print(f'The index of each category is: {[(i,target) for i,target in enumerate(raw_data.target_names)]}')

The index of each category is: [(0, 'sci.med'), (1, 'sci.space')]

Check out some of the postings, might find some funny ones!

In [484]:
import numpy as np
idx = np.random.randint(0, len(raw_data.data))
print (f'This is a {raw_data.target_names[raw_data.target[idx]]} email.\n')
print (f'There are {len(raw_data.data)} emails.\n')
print(raw_data.data[idx])

This is a sci.med email.

There are 1187 emails.

From: uabdpo.dpo.uab.edu!gila005 (Stephen Holland)
Subject: Re: diet for Crohn's (IBD)
Organization: Gastroenterology - Univ. of Alabama
Distribution: usa
Lines: 36

In article <1r6g8fINNe88@ceti.cs.unc.edu>, jge@cs.unc.edu (John Eyles)
wrote:
>
>
> A friend has what is apparently a fairly minor case of Crohn's
> disease.
>
> But she can't seem to eat certain foods, such as fresh vegetables,
> without discomfort, and of course she wants to avoid a recurrence.
>
> Her question is: are there any nutritionists who specialize in the
> problems of people with Crohn's disease ?
>
> (I saw the suggestion of lipoxygnase inhibitors like tea and turmeric).
>
> Thanks in advance,
> John Eyles
> jge@cs.unc.edu

If she is having problems with fresh vegetables, the guess is that there
is some obstruction of the intestine.  Without knowing more it is not
possible to say whether the obstruction is permanent due to scarring,
or temporary due to swelling of inflammed intestine.  In general, there are
no dietary limitations in patients with Crohn's except as they relate
to obstruction.  There is no evidence that any foods will bring on
recurrence of Crohn's.  It is important to distinguish recurrence from
recurrent symptoms.  A physician would think of new inflammation as
recurrence, while pains from raw veggies just imply a narrowing of the
intestine.

Your friend should look into membership in the Crohn's and Colitis
Foundation of America.   1-800-932-2423

Good luck to your friend.

Steve Holland

Lets pick the first 10 postings from each category

In [485]:
idxs_med = np.flatnonzero(raw_data.target == 0)
idxs_space = np.flatnonzero(raw_data.target == 1)
idxs = np.concatenate([idxs_med[:10],idxs_space[:10]])
data = np.array(raw_data.data)
data = data[idxs]

<a href="http://www.nltk.org/">NLTK</a> is a toolkit for natural language processing. Take some time to install it and go through this <a href="http://www.slideshare.net/japerk/nltk-in-20-minutes">short tutorial/presentation</a>.

The downloaded package below is a tokenizer that divides a text into a list of sentences, by using an unsupervised algorithm to build a model for abbreviation words, collocations, and words that start sentences.

In [486]:
import nltk
import itertools
nltk.download('punkt')

# Tokenize the sentences into words
tokenized_sentences = [nltk.word_tokenize(sent) for sent in data]
vocabulary_size = 1000
unknown_token = 'unknown'

[nltk_data] Downloading package punkt to /Users/grufino/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [487]:
# Count the word frequencies
word_freq = nltk.FreqDist(itertools.chain(*tokenized_sentences))
print (f"Found {len(word_freq.items())} unique words tokens.")

Found 1636 unique words tokens.

In [488]:
# Get the most common words and build index_to_word and word_to_index vectors
vocab = word_freq.most_common(vocabulary_size-1)
index_to_word = [x[0] for x in vocab]
index_to_word.append(unknown_token)
word_to_index = dict([(w,i) for i,w in enumerate(index_to_word)])
 
print (f"Using vocabulary size {vocabulary_size}." )
print (f"The least frequent word in our vocabulary is '{vocab[-1][0]}' and appeared {vocab[-1][1]} times.")

Using vocabulary size 1000.
The least frequent word in our vocabulary is 'AN' and appeared 1 times.

### Exercise 2.1

Code your own TF-IDF representation function and use it on this dataset. (Don't use code from libraries. Build your own function with Numpy/Pandas). Use the formular TFIDF = TF * (IDF+1). The effect of adding “1” to the idf in the equation above is that terms with zero idf, i.e., terms that occur in all documents in a training set, will not be entirely ignored. The term frequency is the raw count of a term in a document. The inverse document frequency is the natural logarithm of the inverse fraction of the documents that contain the word.

In [489]:
from sklearn.feature_extraction.text import CountVectorizer
countvec = CountVectorizer()
df = pd.DataFrame(countvec.fit_transform(data).toarray(), columns=countvec.get_feature_names())

def tfidf(df):
    sums = df.sum()
    count_docs = len(df)
    idfs = sums.apply(
        lambda x: (np.log(count_docs / (x / count_docs)) + 1) * x
    )
    print(idfs)
    return idfs

    
    
rep = tfidf(df)

# Check if your implementation is correct
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(norm=None, smooth_idf=False, use_idf=True)
X_train = pd.DataFrame(vectorizer.fit_transform(data).toarray(), columns=countvec.get_feature_names())
answer=['No','Yes']
epsilon = 0.0001
if rep is not None:
    print (f'Is this implementation correct?\nAnswer: {answer[1*np.all((X_train - rep) < epsilon)]}')

02          6.991465
041300      6.991465
07          6.991465
0815        6.991465
10          6.991465
             ...
younger     6.991465
your       12.596635
z3          6.991465
zeta        6.991465
zeus       12.596635
Length: 1440, dtype: float64
Is this implementation correct?
Answer: Yes